<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?define Manufactor = "Patzleiner"?>
  <?define UpgradeGuid = "{DBC552D0-2FCB-4E70-B902-B65E8D7DDF67}"?>
  <?define Name = "McMetroLauncher"?>
  <?define AwesomiumMergePath = "C:\Program Files (x86)\Awesomium Technologies LLC\Awesomium SDK\1.7.4.2\wrappers\Awesomium.NET\Redistribute\AWENET0174F.msm"?>

  <Product
  Id="*"
  Name="$(var.Name)"
  Language="1033"
  Version="!(bind.FileVersion.MyApplicationFile)"
  Manufacturer="$(var.Manufactor)"
  UpgradeCode="$(var.UpgradeGuid)">

    <Package
    InstallerVersion="200"
    Compressed="yes"
    Description="Installiert den $(var.Name)"
    Manufacturer="$(var.Manufactor)"
    Comments="Danke, dass Sie sich für den $(var.Name) entschieden haben"
  />

    <Media
    Id="1"
    Cabinet="media1.cab"
    EmbedCab="yes"
  />

    <!--Und dieses Icon soll für den Shortcut verwendet werden-->
    <Icon Id="Icon.exe" SourceFile="$(var.McMetroLauncher.TargetPath)" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <!-- Mehr Infos: http://wix.tramontana.co.hu/tutorial/user-interface/ui-wizardry
    
    http://wixtoolset.org/documentation/manual/v3/wixui/wixui_customizations.html -->

    <!--<WixVariable Id="WixUILicenseRtf" Value="path\License.rtf" />-->
    <WixVariable Id="WixUIBannerBmp" Value="Banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Dialog.bmp" />
    <!--<WixVariable Id="WixUIExclamationIco" Value="path\exclamation.ico" />-->
    <!--<WixVariable Id="WixUIInfoIco" Value="path\information.ico" />-->
    <!--<WixVariable Id="WixUINewIco" Value="path\new.ico" />-->
    <!--<WixVariable Id="WixUIUpIco" Value="path\up.ico" />-->

    <Property Id="ARPCOMMENTS" Value="$(var.Name)" />
    <Property Id="ARPHELPLINK" Value="http://patzleiner.net" />
    <Property Id="ARPCONTACT" Value="JBou" />
    <Property Id="ARPURLINFOABOUT" Value="http://patzleiner.net" />
    <Property Id="ARPPRODUCTICON" Value="Icon.exe" />
    <Upgrade Id="$(var.UpgradeGuid)">
      <UpgradeVersion Minimum="!(bind.FileVersion.MyApplicationFile)"
                      IncludeMinimum="no"
                      OnlyDetect="yes"
                      Language="1033"
                      Property="NEWPRODUCTFOUND" />
      <UpgradeVersion Minimum="0.0.0.0"
                      IncludeMinimum="yes"
                      Maximum="!(bind.FileVersion.MyApplicationFile)"
                      IncludeMaximum="no"
                      Language="1033"
                      Property="UPGRADEFOUND" />
      <UpgradeVersion Minimum="0.0.0.0"
                      Maximum="!(bind.FileVersion.MyApplicationFile)"
                      Property="PREVIOUSVERSIONSINSTALLED"
                      IncludeMinimum="yes"
                      IncludeMaximum="no" />
    </Upgrade>

    <PropertyRef Id="NETFRAMEWORK45"/>
    <Condition Message='The $(var.Name) requires Microsoft .NET Framework 4.5. Install it to continue!'>
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="FontsFolder" />
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="$(var.Name)" >
          <!-- Und dahinein packen wir eine Component, in diesem Fall Unser Ausführbares Programm 
                Jede Component muss eine eindeutige Id bestzen, diese wird weiter unter verwendet um die Component 
                einem Feature zuzuordnen.
                Eine Component sollte eine Guid besitzten, damit es später Möglich ist anhand dieser Guid die Datei 
                eindeutig zu identifizieren, damit man mit dem MS Installer, eine Reparatur einer vorhandenen Installation
                durchführen kann.
            -->
          <Merge Id="merge_awesomium" SourceFile="$(var.AwesomiumMergePath)" DiskId="1" Language="1033" />
            <Directory Id="tools" Name="tools">
              <Component Id="Copytools" Guid="{E3CE604D-D5C3-4EFF-816C-A6101468C090}">
                <File Id="Pack_xz_Extractor" Name="Pack_xz_Extractor.jar" Source="$(var.McMetroLauncher.TargetDir)tools\Pack_xz_Extractor.jar" />
              </Component>
            </Directory>
          <Component Id="ProductComponent" Guid="{4A5619DF-5841-48EC-8D7C-D368718C6D1A}">
            <File Id="MyApplicationFile" Name="$(var.McMetroLauncher.TargetFileName)" Source="$(var.McMetroLauncher.TargetPath)" KeyPath="yes">
              <!--Dann legen wir doch gleich noch einen Desktop Shortcut für das Projekt an.-->
              <Shortcut Advertise="yes" Id="DesktopShortCut" Name="$(var.Name)" Directory="DesktopFolder" WorkingDirectory="INSTALLLOCATION" Description="$(var.Name) ausführen" Icon="Icon.exe">
              </Shortcut>
            </File>
            <RemoveFolder Id="INSTALLLOCATION" On="uninstall"/>
          </Component>

          <Component Id="McMetroLauncher.exe.config" Guid="{02C26E13-C9CB-4215-8974-6A5D553E5CF2}">
            <!-- Hier nun die zu installierende Datei der Component hinzufügen -->
            <File Id="McMetroLauncher.exe.config" Name="McMetroLauncher.exe.config" Source="$(var.McMetroLauncher.TargetDir)McMetroLauncher.exe.config"  />
          </Component>

          <Component Id="GrayscaleEffect" Guid="{D4A5EAE3-E7E3-49F8-A70A-EBEE65CBCABF}">
            <File Id="GrayscaleEffect" Name="GrayscaleEffect.dll" Source="$(var.McMetroLauncher.TargetDir)GrayscaleEffect.dll" />
          </Component>
          <Component Id="Ionic.Zip" Guid="{3F6D6547-31D0-43BC-A629-4CA80101B283}">
            <File Id="Ionic.Zip" Name="Ionic.Zip.dll" Source="$(var.McMetroLauncher.TargetDir)Ionic.Zip.dll" />
          </Component>
          <Component Id="MahApps.Metro" Guid="{8331726B-2614-4572-8123-6B715BDBE740}">
            <File Id="MahApps.Metro" Name="MahApps.Metro.dll" Source="$(var.McMetroLauncher.TargetDir)MahApps.Metro.dll" />
          </Component>
          <Component Id="MahApps.Metro.Resources" Guid="{20BC874F-6BF9-469F-ABB2-9AA1921F658A}">
            <File Id="MahApps.Metro.Resources" Name="MahApps.Metro.Resources.dll" Source="$(var.McMetroLauncher.TargetDir)MahApps.Metro.Resources.dll" />
          </Component>
          <Component Id="Newtonsoft.Json" Guid="{99C6B69E-CA97-480B-84C2-ED0CEEA067EF}">
            <File Id="Newtonsoft.Json" Name="Newtonsoft.Json.dll" Source="$(var.McMetroLauncher.TargetDir)Newtonsoft.Json.dll" />
          </Component>
          <Component Id="System.Windows.Interactivity" Guid="{DAD3B468-2CD4-444F-9403-9567ED97CE61}">
            <File Id="System.Windows.Interactivity" Name="System.Windows.Interactivity.dll" Source="$(var.McMetroLauncher.TargetDir)System.Windows.Interactivity.dll" />
          </Component>
          <Component Id="Ookii.Dialogs.Wpf" Guid="{B294E3B8-42F7-4FDE-B14D-C0D20134271E}">
            <File Id="Ookii.Dialogs.Wpf" Name="Ookii.Dialogs.Wpf.dll" Source="$(var.McMetroLauncher.TargetDir)Ookii.Dialogs.Wpf.dll" />
          </Component>
          <Component Id="fNbt" Guid="{A3C6EC2B-6125-4FB0-A2E0-DF1CB7E4C254}">
            <File Id="fNbt" Name="fNbt.dll" Source="$(var.McMetroLauncher.TargetDir)fNbt.dll" />
          </Component>
          <Component Id="Craft.Net" Guid="{8BE3FE4D-1CFA-4549-B700-126FF250CB3E}">
            <File Id="Craft.Net" Name="Craft.Net.dll" Source="$(var.McMetroLauncher.TargetDir)Craft.Net.dll" />
          </Component>
          <Component Id="Craft.Net.Common" Guid="{2FD861EA-3862-41E3-9757-8DE3FD2F642D}">
            <File Id="Craft.Net.Common" Name="Craft.Net.Common.dll" Source="$(var.McMetroLauncher.TargetDir)Craft.Net.Common.dll" />
          </Component>
          <Component Id="Craft.Net.Client" Guid="{1DD7B744-ECD0-4AA7-8778-8CC7ABE29995}">
            <File Id="Craft.Net.Client" Name="Craft.Net.Client.dll" Source="$(var.McMetroLauncher.TargetDir)Craft.Net.Client.dll" />
          </Component>
          <Component Id="Craft.Net.Anvil" Guid="{98E410D4-2CBF-45BB-83C5-26E548840E6C}">
            <File Id="Craft.Net.Anvil" Name="Craft.Net.Anvil.dll" Source="$(var.McMetroLauncher.TargetDir)Craft.Net.Anvil.dll" />
          </Component>
          <Component Id="MarkdownSharp" Guid="{FCE823E9-FAE2-4FE4-AD02-0CE6E75DE57D}">
            <File Id="MarkdownSharp" Name="MarkdownSharp.dll" Source="$(var.McMetroLauncher.TargetDir)MarkdownSharp.dll" />
          </Component>
          <Component Id="De.TorstenMandelkow.MetroChart" Guid="{3FC3143B-D705-416B-ACC8-A267D3CE6FF0}">
            <File Id="De.TorstenMandelkow.MetroChart" Name="De.TorstenMandelkow.MetroChart.dll" Source="$(var.McMetroLauncher.TargetDir)De.TorstenMandelkow.MetroChart.dll" />
          </Component>
          <Component Id="Exceptionless" Guid="{5D8553F3-D1A2-4A97-BC48-D3809405D1FF}">
            <File Id="Exceptionless" Name="Exceptionless.dll" Source="$(var.McMetroLauncher.TargetDir)Exceptionless.dll" />
          </Component>
          <Component Id="Exceptionless.Models" Guid="{985B5367-5F9F-4F5C-B3D1-6295CC8624C8}">
            <File Id="Exceptionless.Models" Name="Exceptionless.Models.dll" Source="$(var.McMetroLauncher.TargetDir)Exceptionless.Models.dll" />
          </Component>
          <Component Id="Exceptionless.Wpf" Guid="{71D17243-64E8-49A7-A7A3-A8241090A999}">
            <File Id="Exceptionless.Wpf" Name="Exceptionless.Wpf.dll" Source="$(var.McMetroLauncher.TargetDir)Exceptionless.Wpf.dll" />
          </Component>
            <!-- Awesomium SDK wird installiert, deshalb brauche ich diese Libraries nicht: -->
            <!--<File Id="avcodec_53" Name="avcodec-53.dll" Source="$(var.McMetroLauncher.ProjectDir)bin\$(var.McMetroLauncher.Configuration)\avcodec-53.dll" />
              <File Id="avformat_53" Name="avformat-53.dll" Source="$(var.McMetroLauncher.ProjectDir)bin\$(var.McMetroLauncher.Configuration)\avformat-53.dll" />
              <File Id="avutil_51" Name="avutil-51.dll" Source="$(var.McMetroLauncher.ProjectDir)bin\$(var.McMetroLauncher.Configuration)\avutil-51.dll" />
              <File Id="Awesomium.Core" Name="Awesomium.Core.dll" Source="$(var.McMetroLauncher.ProjectDir)bin\$(var.McMetroLauncher.Configuration)\Awesomium.Core.dll" />
              <File Id="awesomium" Name="awesomium.dll" Source="$(var.McMetroLauncher.ProjectDir)bin\$(var.McMetroLauncher.Configuration)\awesomium.dll" />
              <File Id="Awesomium.Windows.Controls" Name="Awesomium.Windows.Controls.dll" Source="$(var.McMetroLauncher.ProjectDir)bin\$(var.McMetroLauncher.Configuration)\Awesomium.Windows.Controls.dll" />
              <File Id="icudt" Name="icudt.dll" Source="$(var.McMetroLauncher.ProjectDir)bin\$(var.McMetroLauncher.Configuration)\icudt.dll" />
              <File Id="libEGL" Name="libEGL.dll" Source="$(var.McMetroLauncher.ProjectDir)bin\$(var.McMetroLauncher.Configuration)\libEGL.dll" />
              <File Id="libGLESv2" Name="libGLESv2.dll" Source="$(var.McMetroLauncher.ProjectDir)bin\$(var.McMetroLauncher.Configuration)\libGLESv2.dll" />
              <File Id="awesomium_process" Name="awesomium_process" Source="$(var.McMetroLauncher.ProjectDir)bin\$(var.McMetroLauncher.Configuration)\awesomium_process" />-->

          <Component Id="ShortCutDeinstall" Guid="{0BA3B1B9-679B-45C0-A6BB-0CEA1C5CDA7F}">
            <Shortcut Id="DeinstallShortCut" Name="$(var.Name) deinstallieren" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" Icon="Icon.exe"/>
            <RegistryValue Root="HKCU" Key="Software\$(var.Name)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>
      
      <!-- Verknüpfungen im Startmenü setzen 
          Siehe auch http://wix.sourceforge.net/manual-wix3/create_start_menu_shortcut.htm
      -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="MyShortCutsDir" Name="$(var.Name)">
          <Component Id="ShortCutComponent" Guid="{B51BC276-F509-4F25-9738-EE176445D073}">
            <Shortcut Id="ProgShortCut" Name="$(var.Name)" Description="$(var.Name) Verknüpfung" Target="[INSTALLLOCATION]McMetroLauncher.exe"></Shortcut>
            <Shortcut Id="UninstallShortCut" Name="$(var.Name) deinstallieren" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" Icon="Icon.exe"/>
            <RemoveFolder Id="MyShortCutsDir" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\$(var.Name)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>
      <!-- Wird benötigt um den Desktop Shortcut anlegen zu können -->
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>
      
    <DirectoryRef Id="FontsFolder">
      <Component Id="Fonts" Guid="{107BE247-5F22-4D28-ACC7-C1CB97B1BBF5}">
        <File Id="Minecraft" Source="$(var.McMetroLauncher.TargetDir)resources\fonts\Minecraft.ttf" TrueType="yes" />
        <File Id="Minecraftia" Source="$(var.McMetroLauncher.TargetDir)resources\fonts\Minecraftia.ttf" TrueType="yes" />
        <File Id="ProFontWindows" Source="$(var.McMetroLauncher.TargetDir)resources\fonts\ProFontWindows.ttf" TrueType="yes" />
      </Component>
    </DirectoryRef>
      
    <ComponentGroup Id="libraries">
      <ComponentRef Id="GrayscaleEffect"/>
      <ComponentRef Id="Ionic.Zip"/>
      <ComponentRef Id="MahApps.Metro"/>
      <ComponentRef Id="MahApps.Metro.Resources"/>
      <ComponentRef Id="Newtonsoft.Json"/>
      <ComponentRef Id="System.Windows.Interactivity"/>
      <ComponentRef Id="Ookii.Dialogs.Wpf"/>
      <ComponentRef Id="fNbt"/>
      <ComponentRef Id="Craft.Net"/>
      <ComponentRef Id="Craft.Net.Common"/>
      <ComponentRef Id="Craft.Net.Client"/>
      <ComponentRef Id="Craft.Net.Anvil"/>
      <ComponentRef Id="MarkdownSharp"/>
      <ComponentRef Id="De.TorstenMandelkow.MetroChart"/>
      <ComponentRef Id="Exceptionless"/>
      <ComponentRef Id="Exceptionless.Models"/>
      <ComponentRef Id="Exceptionless.Wpf"/>
    </ComponentGroup>
      
    <DirectoryRef Id="TARGETDIR">
      <Component Id="RegistryEntries" Guid="{54FE49BB-EFB5-4C87-828C-A50AE5C62215}">
        <RegistryKey  Root="HKCR"
                      Key="mclauncher">
          <RegistryValue Type="string" Value="URL:McMetroLauncher protocol" />
          <RegistryValue Type="string" Name="URL Protocol" Value=""/>
        </RegistryKey>
        <RegistryKey  Root="HKCR"
                      Key="mclauncher\Shell">
        </RegistryKey>
        <RegistryKey  Root="HKCR"
                      Key="mclauncher\Shell\open">
        </RegistryKey>
        <RegistryKey  Root="HKCR"
                      Key="mclauncher\Shell\open\command">
          <RegistryValue Type="string" Value="&quot;[#MyApplicationFile]&quot; %1" />
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <!-- Feature Bereich hier als Basistemplate nur ein Feature (Alles installieren)
        Siehe auch http://wix.sourceforge.net/manual-wix3/wix_xsd_feature.htm
    -->
    <Feature Id="ProductFeature" Title="$(var.Name)" Level="1">
      <ComponentRef Id="ProductComponent" />
      <ComponentRef Id="McMetroLauncher.exe.config" />
      <ComponentGroupRef Id="libraries" />
      <ComponentRef Id="ShortCutDeinstall"/>
      <ComponentRef Id="ShortCutComponent" />
      <ComponentRef Id="RegistryEntries" />
      <ComponentRef Id="Copytools"/>
      <ComponentRef Id="Fonts"/>
      <MergeRef Id="merge_awesomium" />
    </Feature>

    <!-- Das was nun folgt ist schon ein wenig Finetuning CustomActions
        siehe auch http://wix.sourceforge.net/manual-wix3/wix_xsd_customaction.htm
    -->
    <!-- Keinen Downgrade zulassen -->
    <CustomAction Id="PreventDowngrading"
                  Error="Es ist bereits eine neuere Version installiert." />

    <!-- Nun noch die auszuführende Reihenfolg angeben 
        siehe auch http://wix.sourceforge.net/manual-wix3/wix_xsd_installexecutesequence.htm
    -->
    <InstallExecuteSequence>
      <Custom Action="PreventDowngrading"
              After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
      <MsiPublishAssemblies Sequence="1502" />
      <MsiUnpublishAssemblies Sequence="1501" />
      <Custom Action="RepairPerformanceCounters" Before="InstallFinalize" />
      <RemoveExistingProducts After="InstallFinalize" />
    </InstallExecuteSequence>

    <!-- Wenn ein neueres Produkt gerunden wurde, soll das auch in der UI ausgegeben werden
        siehe auch http://wix.sourceforge.net/manual-wix3/wix_xsd_installuisequence.htm
    -->
    <InstallUISequence>
      <Custom Action="PreventDowngrading"
              After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
    </InstallUISequence>
    
    <!--rebuild performance counter setting from system backup-->
    <!--<Property Id="RepairperformancecounterTarget" Value="cmd.exe lodctr /r" />
    <CustomAction Id="Repairperformancecounter" BinaryKey="WixCA" DllEntry="RepairperformancecounterTarget" Impersonate="yes" />-->
    <!--<CustomAction Id="Repairperformancecounter" Directory="INSTALLLOCATION" ExeCommand="cmd.exe lodctr /r" Impersonate="yes" />-->

    <Property Id="QtExecCmdLine" Value="lodctr /r"/>
    <CustomAction Id="RepairPerformanceCounters" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="immediate" Return="check"/>

    <!-- So kann man eine eigene Lizenzmeldung ausgeben -->
    <!--<WixVariable Id='WixUILicenseRtf' Overridable='yes' Value='$(var.McMetroLauncher.ProjectDir)Lizenzbestimmungen.rtf'/>-->

    <!-- UI Definition für Minimales Setup 
    Um diese UI Definition vornehmen zu können, 
    muss im WiX Projekt die WixUIExtension.dll als Reference hinzugefügt werden
    -->
    <UI>
      <UIRef Id="WixUI_Minimal" />
      <UIRef Id="WixUI_ErrorProgressText" />

      <Publish Dialog="ExitDialog"
          Control="Finish"
          Event="DoAction"
          Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>

    </UI>

    <!-- Checkbox zum starten nach der installation -->
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="$(var.Name) starten" />

    <Property Id="WixShellExecTarget" Value="[#MyApplicationFile]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <AdvertiseExecuteSequence>
      <MsiPublishAssemblies Sequence="1502" />
    </AdvertiseExecuteSequence>
    
  </Product>
</Wix>